@model Laptopp.Models.LAP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }
</style>

<h2 style="text-align:center">CHI TIẾT SẢN PHẨM</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên laptop:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLap)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.Raw(@Model.MoTa.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="~/Images/@Model.AnhBia" alt="@Model.TenLap">
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @Html.FormatValue(@Model.NgayCapNhat, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Số lượng bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @Html.FormatValue(@Model.GiaBan, "{0:#,##0}") VNĐ
        </dd>


        <dt>
            Thương hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU.TenThuongHieu)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaLap }) |
    @Html.ActionLink("VỀ TRANG QUẢN LÝ LAPTOP", "Index", "Admin")
</p>